body {
    font-family: sans-serif;
    background-color: lightgrey;
    background-image: url("/ui/madi.png");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

