body {
    font-family: sans-serif;
    background-color: lightgrey;
    background-image: url("https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6kjfeDrhRPnh...EwXs1M3EMoAJtlSAug...Bq9Ps7");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

